@import '../1-mixins/mixins-media-queries.scss';

/*------------------------------------*\
  #HEADER
\*------------------------------------*/

.ss-c-header {
    /*------------------------------------*\
      #COMMON
    \*------------------------------------*/
    background-color: $color-primary;

    .ss-o-nav__wrap {
        display: flex;
        justify-content: space-between;
        /*------------------------------------*\
           #DESKTOP
        \*------------------------------------*/
        @include screen-medium() {
            flex-direction: column;
        }
    }
}
