@import '../1-mixins/mixins-media-queries.scss';

/*------------------------------------*\
  #SIDEBAR
\*------------------------------------*/

.ss-c-sidebar {


    /*------------------------------------*\
        #MOBILE
    \*------------------------------------*/
    @include screen-small() {
        grid-column: col-start / span 3;
        grid-row: 3;
    }


    /*------------------------------------*\
        #MEDIUM
    \*------------------------------------*/
    @include screen-medium() {
        grid-column: col-start 11 / span 2;
        grid-row: 2;
    }
}