$font-primary: "font-family: 'Ubuntu', sans-serif";

/*------------------------------------*\
  #COLORS
\*------------------------------------*/

$color-primary: #ffebcd;





/*------------------------------------*\
  #SCREEN-SIZES
\*------------------------------------*/

$ss-u-mq-small: 480px;
$ss-u-mq-medium: 768px;
$ss-u-mq-large: 992px;
$ss-u-mq-x-large: 1200px;
